a{
    text-decoration: none;
}
a,span{
    color: gray;
}
a:hover,span:hover{
    text-decoration: none;
    color: black;
}
.flag-div{
    float: left;
    padding: 2 9px;
    border-radius: 16px;
    border: 1px solid #959595;
    border-color: rgba(185,185,185,0.5);
}
.bic{
    margin-top: 6px;
    margin-left: 5px;
}

.form-control.cms{
    height: 24px;
    font-size: 16px;
    color: #202020;
    resize: none;
    outline: 0 none;
    line-height: 24px;
    overflow: hidden;
    letter-spacing: -.4px;
    min-height: 50px; 
}
.btn.bhi{
    height: 50px;
}