{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{post.title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/post.css">
    <script src="../static/js/bootstrap.min.js"></script>

</head>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    async function deletePost() {
        console.log("start");
        const res = await fetch("{% url 'posts.select' post.pk %}", {
            credentials: 'include',
            method: 'DELETE',
            mode: 'same-origin',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
        });
        const json = res.json();
        if (!res.ok) alert('삭제에 실패했습니다.')
        else window.location.href = '{% url 'main' %}';
    }
    async function deleteComment(url) {
        const res = await fetch(url, {
            credentials: 'include',
            method: 'DELETE',
            mode: 'same-origin',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
        });
        const json = res.json();
        window.location.href = '{% url 'posts.select' post.pk %}';
    }

    $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    });
    function resize(obj) {
        obj.style.height = "1px";
        obj.style.height = (12+obj.scrollHeight)+"px";
    }
</script>

<body style="background-color: #f8f9fa;">
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between px-5">
            <a class="navbar-brand" href="{% url 'main' %}">Seminar</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link ml-3" href="{% url 'posts.create' %}">작성하기 </a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <a class="nav-link disabled ml-auto" href='{% url 'posts.create' %}'>{{ user.username }}님</a>
            <form class="form-inline my-2 my-lg-0 " action="{% url 'logout' %}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">로그아웃</button>
            </form>

            {% else %}
            <form class="form-inline my-2 my-lg-0 ml-auto" action="{% url 'register' %}">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">회원가입</button>
            </form>
            <form class="form-inline my-2 my-lg-0 ml-2" action="{% url 'login' %}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">로그인</button>
            </form>
            {% endif %}
        </div>
    </div>

    <div class="my-5 p-5 rounded bg-white shadow-sm container">
        <h1 class=" pb-2 mb-0">{{ post.title }}</h1>
        <a><strong>Post </strong>{{ post.created_at }}<strong> {{post.writer.username}}</strong>님 작성</a>
        {% if post.writer.username == user.username %}
        <div class="text-right mb-2">
            <span onclick="deletePost()" style="cursor: pointer;" class="mr-3">삭제하기</span>
            <a href="{% url 'posts.edit' post.pk %}" class="mr-5" style="">수정하기</a>
        </div>
        {% endif %}
        <div class="media-body pb-5 pt-5 lh-125 border-top border-gray">
            {{ post.content | linebreaksbr }}
        </div>
        <div class="align-items-center">
            <div class="flag-div" onclick="location.href = '{% url 'posts.vote' post.pk %}';" style="cursor: pointer;">
                {% if recommends %}
                <svg class="bi bi-flag-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M3.762 2.558C4.735 1.909 5.348 1.5 6.5 1.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126a8.89 8.89 0 0 0 .593-.25c.058-.027.117-.053.18-.08.57-.255 1.278-.544 2.14-.544a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5c-.638 0-1.18.21-1.734.457l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 0 1 9 9.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916A.5.5 0 0 1 3.5 9V3a.5.5 0 0 1 .223-.416l.04-.026z"/>
                </svg>
                {% else %}
                <svg class="bi bi-flag" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M3.762 2.558C4.735 1.909 5.348 1.5 6.5 1.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126a8.89 8.89 0 0 0 .593-.25c.058-.027.117-.053.18-.08.57-.255 1.278-.544 2.14-.544a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5c-.638 0-1.18.21-1.734.457l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 0 1 9 9.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916a.5.5 0 1 1-.515-.858C4.735 7.909 5.348 7.5 6.5 7.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126.187-.068.376-.153.593-.25.058-.027.117-.053.18-.08.456-.204 1-.43 1.64-.512V2.543c-.433.074-.83.234-1.234.414l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 0 1 9 3.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916a.5.5 0 0 1-.554-.832l.04-.026z"/>
                </svg>
                {% endif %}
                <a class="mx-2">{{post.vote_count}}</a>
            </div>
            <span data-toggle="tooltip" data-placement="top" title="강의 개설은 플래그 5개 이상부터 이루어집니다.">
                <svg class="bi bi-question-circle bic" width="20px" height="20px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                </svg>
            </span>
        </div>
        <hr>
            <form action="{% url 'posts.comments.create' post.pk%}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <textarea type="text" class="form-control cms" name="content" placeholder="Write your comment"onkeydown="resize(this)" onkeyup="resize(this)"></textarea>
                        <div class="input-group-btn">
                            <button class="btn bhi" type="submit"style="border: solid 1px #ccc;">
                                <svg class="bi bi-capslock-fill" width="24px" height="24px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M7.27 1.047a1 1 0 0 1 1.46 0l6.345 6.77c.6.638.146 1.683-.73 1.683H11.5v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1H1.654C.78 9.5.326 8.455.924 7.816L7.27 1.047zM4.5 13.5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1z"/>
                                </svg>
                            </button>
                        </div>
                    </div>

            </form>
        <hr>
        {% for comment in comments %}
            <div class="my-4">
                <a>{{comment.comment_date}}</a>
                <strong> {{comment.comment_writer}} </strong>
                {% if comment.comment_writer == user %}
                <a onclick="deleteComment('{% url 'posts.comments.select' comment.pk %}');" style="cursor: pointer;">
                    삭제
                </a>
                {% endif %}
                <br>
                <a>{{ comment.comment_content | linebreaksbr  }}</a>
            </div>
            <hr>
            {% empty %}
            <p>No comments here yet</p>
            
        {% endfor %}
    </div>
   
</body>

</html>