{% extends 'navigator/navigator.html' %}

{% block content %}
<script>
$(function() { $("input:text").keydown(function(evt) { if (evt.keyCode == 13) return false; }); });

function resize(obj) {
  obj.style.height = "1px";
  obj.style.height = (12+obj.scrollHeight)+"px";
}
</script>

<head>
    <link rel="stylesheet" href="http://127.0.0.1/static/css/create.css">
</head>
    <div class="my-5 p-5 rounded bg-white shadow-sm container">
        <form action="{% url 'posts.edit' category post.pk %}" method="post">
            {% csrf_token %}
            <input class="tts" type="text" name="title" value="{{post.title}}"></input>
            <br>
            <hr>
            <textarea class="cts" onkeydown="resize(this)" onkeyup="resize(this)" type="text" name="content">{{ post.content }}</textarea>
            <br>
            <input type="submit" class="btn btn-dark" value="수정하기"></input>
        </form>
    </div>
{% endblock %}